<!-- Module 6 Lecture 9: The Blog App - Iteration 5 -->
<%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br />
      <%= h(comment.body) %>
    </p>
<% end %>