<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>
<!-- Module 5 Lecture 9: The Blog App - Iteration 4 -->
<h2>Comments</h2>
<div id="comments">
  <!-- Module 6 Lecture 9: The Blog App - Iteration 5 - D(on't) R(epeat) Y(ourself) -->
  <%= render :partial => @post.comments.reverse %>
</div>
<!-- Module 5 Lecture 9: The Blog App - Iteration 4 -->
<!-- Module 6 Lecture 8: Ajax -->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
  <p><%= f.label :body, "New Comment" %><br />
     <%= f.text_area :body %>
  </p>
  <p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
